body {
    background-color: rgb(174, 84, 46);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

@media (min-width: 992px) {
    .social_info__item {
        font-size: 30px;
    }

    #name {
        font-size: 50px;
        text-decoration: none;
        font-style: italic;
    }
}

@media (min-width: 480px) and (max-width: 991px) {
    .social_info__item {
        font-size: 20px;
    }

    #name {
        font-size: 40px;
        text-decoration: none;
        font-style: italic;
    }
}

@media (min-width:321px) and (max-width: 479px) {
    .social_info__item {
        font-size: 13px;
    }

    #name {
        font-size: 30px;
        text-decoration: none;
        font-style: italic;
    }
}

@media (max-width: 320px) {
    .social_info__item {
        font-size: 7px;
    }

    #name {
        font-size: 20px;
        text-decoration: none;
        font-style: italic;
    }
}

.main {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    border: 2px solid white;
}

.social_info {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

ul {
    list-style-type: none;
}
