body {
    background-color: pink;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.main {
    display: grid;
    justify-items: center;
    padding: 10%;
    padding-top: 5%;
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: space-between;
    font-size: 45px;
}

#contacts {
    font-style: italic;
}

.main {
    display: grid;
    align-items: center;
}

.social_info__item {
    font-size: 30px;
    padding-top: 2%;
}